{% extends "layout.html" %}
{% block additional_header %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/sweetalert.css") }}">
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <h1>Accounts list</h1>
        <div class="table-responsive">
            {% include "tables/accounts.table.html" %}
        </div>
        <div class="ajax-container">
            <div class="loader"></div>
        </div>
    </div>
    {% include "modals/modal.edit.account.html" %}
{% endblock %}
{% block scripts %}
    <script src="{{ url_for("static", filename="js/sweetalert.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/pages/edit_account.js") }}"></script>
{% endblock %}