<div class="modal fade" id="addProduct">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for("add_product") }}" method="post">
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td><label for="name">Name</label></td>
                            <td><input type="text" class="form-control" id="name" name="name" placeholder="Name"
                                       required></td>
                        </tr>
                        <tr>
                            <td><label for="type">Type</label></td>
                            <td>
                                <select name="type" id="type" class="custom-select" required>
                                    <option value="">Select type</option>
                                    {% for type in model.types %}
                                        <option value="{{ type.name }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="price">Price</label>
                            </td>
                            <td>
                                <input type="number" id="price" name="price" step="any" class="form-control"
                                       placeholder="Price">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>