<div class="modal fade" id="editProduct">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>
                                <label for="editName" class="sr-only">Name </label>
                                <input type="text" id="editName" class="form-control" name="name" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>
                                <label for="editType" class="sr-only"></label>
                                <select name="type" id="editType" class="custom-select" required>
                                    {% for type in model.types %}
                                        <option value="{{ type.name }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>
                                <label for="category" class="sr-only"></label>
                                <select name="category" id="category" class="custom-select">
                                    <option value="">Select category</option>
                                    {% for type in model.types %}
                                        {% for category in type.categories_array %}
                                            <option value="{{ category }}">{{ category }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                <label for="description" class="sr-only">Permission</label>
                                <textarea name="description" class="form-control" id="description" cols="30"
                                          rows="5"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>
                                <label for="editPrice" class="sr-only">Price</label>
                                <input type="number" id="editPrice" name="price" step="any" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>Count</td>
                            <td>
                                <label for="count" class="sr-only">Password</label>
                                <input name="count" id="count" step="0" type="number" class="form-control">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success save-changes">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>