<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>{{ site.title }}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for("static", filename="img/favicon.ico") }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <!-- Custom styles CSS-->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.min.css") }}">
    <!-- Additional header for inherited templates -->
    {% block additional_header %}{% endblock %}
</head>
<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ url_for("index") }}">WMS</a>
    <!--
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    -->
</nav>
<div role="main">
    <div id="mySidenav" class="sidenav">
        <br><br><br>
        <a href="{{ url_for("accounts") }}">Accounts</a>
        <a href="{{ url_for("warehouse") }}">Warehouse</a>
        <a href="#">Orders</a>
        <a href="{{ url_for("types") }}">Types</a>
        <a href="{{ url_for("logout") }}">Log out</a>
    </div>
    <!-- Use any element to open the sidenav -->
    <div class="container-fluid" id="main">
        <div class="menu_button" id="sidebarToggleButton">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/popper.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
<script>
    var $sidebarToggleButton = $("#sidebarToggleButton"),
            $sideBar = $("#mySidenav"),
            $menuBtn = $(".menu_button"),
            isSidebarOpen = false;

    $sidebarToggleButton.on("click", function () {
        if (!isSidebarOpen) {
            $sideBar.css("width", "250px");
            $menuBtn.css("margin-left", "250px");
            $(this).addClass("change");
            isSidebarOpen = true;
        } else {
            $sideBar.css("width", "0");
            $menuBtn.css("margin-left", "0");
            $(this).removeClass("change");
            isSidebarOpen = false;
        }
    });
</script>
<!-- Additional scripts for inherited templates -->
{% block scripts %}
{% endblock %}
</body>
</html>