<table class="table table-bordered">
    <thead>
    <tr>
        <th>№</th>
        <th>Username</th>
        <th>Email</th>
        <th>Type</th>
        <th>Permission</th>
        <th>Balance</th>
        <th class="sr-only"></th>
        <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    {% for account in model.accounts %}
        <tr class="account">
            <td>{{ loop.index }}</td>
            <td>{{ account.username }}</td>
            <td>{{ account.email }}</td>
            <td>{{ account.type }}</td>
            <td>{{ account.permission }}</td>
            <td>{{ account.balance }}</td>
            <td class="sr-only">{{ account.password }}</td>
            <td>
                <button type="button" class="btn btn-primary edit-account" data-toggle="modal"
                        data-target="#editAccount">
                    Edit
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>