<table class="table table-bordered">
    <thead>
    <tr>
        <th>№</th>
        <th>Id</th>
        <th>Account</th>
        <th>Total cost</th>
        <th>Date</th>
        <th class="table-text-center">Status</th>
        <th>Order</th>
        <th>Confirmation</th>
    </tr>
    </thead>
    <tbody>
    {% for order in model.orders %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ order.order_id }}</td>
            <td>{{ order.account }}</td>
            <td>{{ order.total_cost }} $</td>
            <td>
                <time>
                    {{ order.date }}
                </time>
            </td>
            <td class="table-text-center">
                {% if order.confirm_date %}
                    {{ order.status }} at {{ order.confirm_date }}
                {% else %}
                    {{ order.status }}
                {% endif %}
            </td>
            <td class="table-text-center">
                <div class="sr-only">
                    {% for product in order.order %}
                        <button class="btn btn-sm">
                            <span class="product-name">{{ product.name }}</span>
                            <span class="badge badge-secondary count-info">{{ product.count }}</span>
                        </button>
                    {% endfor %}
                </div>
                <button class="btn btn-info order-info " data-toggle="modal" data-target="#orderInfo">
                    Order info
                </button>
            </td>
            {% if order.status=="Awaiting confirmation" %}
                <td class="table-text-center">
                    <button class="btn btn-success btn-sm btn-accept">Accept</button>
                    &nbsp;
                    <button class="btn badge-danger btn-sm btn-decline">Decline</button>
                </td>
            {% elif order.status=="Accepted" %}
                <td class="table-text-center">
                    <button class="btn btn-success btn-sm" disabled>Confirmed</button>
                </td>
            {% elif order.status=="Declined" %}
                <td class="table-text-center">
                    <button class="btn btn-danger btn-sm" disabled>Declined</button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>