<table class="table table-bordered">
    <thead>
    <tr>
        <th>№</th>
        <th>Id</th>
        <th>Account</th>
        <th>Delivery cost</th>
        <th>Date</th>
        <th>Status</th>
        <th>Order</th>
        <th>Confirmation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>1583919502</td>
        <td>kryternext</td>
        <td>1524</td>
        <td>12.09.2017 17:19</td>
        <td>Accepted at 13.09.2017 12:15</td>
        <td>
            <button class="btn btn-info">Order info</button>
        </td>
        <td class="sr-only"></td>
    </tr>
    <tr>
        <td>2</td>
        <td>1583452502</td>
        <td>kukuwka97</td>
        <td>2512</td>
        <td>12.09.2017 17:43</td>
        <td class="text-center">
            Waiting confirmation
        </td>
        <td>
            <button class="btn btn-info">Order info</button>
        </td>
        <td>
            <a href="#" class="btn btn-sm btn-success">Accept</a>
            <a href="#" class="btn btn-sm btn-danger">Reject</a>
        </td>
    </tr>
    </tbody>
</table>