<table class="table table-bordered">
    <thead>
    <tr>
        <th>№</th>
        <th>Name</th>
        <th>Categories</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    {% for type in model.types %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ type.name }}</td>
            <td>{{ type.categories }}</td>
            <td>
                <button class="btn btn-primary edit-type" data-toggle="modal" data-target="#editType">Edit</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
